<div class="side-bar-header">
  <div class="user__name">
    <a href="#">Tom</a>
  </div>
  <div class="new__chat">
    <a href="#">チャットを作成する</>
  </div>
</div>

<div class="rooms">
  <div class="room">
   <div class="side__chatroom">
      <a href="#">chatroom1
    </div>
  </div>
  <div class="room">
   <div class="side__chatroom">
      <a href="#">chatroom2
    </div>
  </div>
  <div class="room">
   <div class="side__chatroom">
      <a href="#">chatroom3
    </div>
  </div>
</div>