<div class="side-bar-header">
  <div class="user__name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new__chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
   <div class="side__chatroom">
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class="room">
   <div class="side__chatroom">
      <a href="#">chatroom2</a>
    </div>
  </div>
  <div class="room">
   <div class="side__chatroom">
      <a href="#">chatroom3</a>
    </div>
  </div>
</div>